Library/
Temp/
obj/
Logs/
.vs/
*.csproj
*.sln
Assets/_TerrainAutoUpgrade/layer_Cliff (Grassy)3d1cca0d6d0e9938.terrainlayer
Assets/_TerrainAutoUpgrade/layer_Cliff (Grassy)3d1cca0d6d0e9938.terrainlayer.meta
Assets/_TerrainAutoUpgrade/layer_Cliff (Layered Rock)3d3aba195e4d26ee.terrainlayer
Assets/_TerrainAutoUpgrade/layer_Cliff (Layered Rock)3d3aba195e4d26ee.terrainlayer.meta
Assets/_TerrainAutoUpgrade/layer_GoodDirt3d3aba195e4d26ee.terrainlayer
Assets/_TerrainAutoUpgrade/layer_GoodDirt3d3aba195e4d26ee.terrainlayer.meta
Assets/_TerrainAutoUpgrade/layer_Grass (Hill)3d3aba195e4d26ee.terrainlayer
Assets/_TerrainAutoUpgrade/layer_Grass (Hill)3d3aba195e4d26ee.terrainlayer.meta
Assets/_TerrainAutoUpgrade/layer_Grass (Meadows2)3d1cca0d6d0e9938.terrainlayer
Assets/_TerrainAutoUpgrade/layer_Grass (Meadows2)3d1cca0d6d0e9938.terrainlayer.meta
Assets/_TerrainAutoUpgrade/layer_Sand (with pebbles)3d1cca0d6d0e9938.terrainlayer
Assets/_TerrainAutoUpgrade/layer_Sand (with pebbles)3d1cca0d6d0e9938.terrainlayer.meta
